$main-color: #c00;
$font-color: #333;
$accent-color: #fc0;

$max-width: 1440px;


// Base Styles
body {
	font: 16px/1.5em "PT Sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	background: #000;
	color: $font-color;
}

a {
	color: $main-color;

	&:hover { color: #300;}
}

p {
	line-height: 2em;
	&.loud {
		font-size: 1.5em;
		line-height: 2em;
		margin: 0.5em 0;
	}
}

hr {
	background: #ccc;
	height: 1px;
	border: none;
	margin: 3em 0;
}


// Wrappers
.container {
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;

	&--long { max-width: 2000px; }
}

.liner {
	padding: 0 3em;
}


// Header
.main-header {
	width: 100%;
	height: 13em;
	position: relative;
	overflow: hidden;

	a { text-decoration: none; }

	.logo {
		position: relative;
		display: inline-block;
		margin: 0;
		top: -3.5em;
		left: -2.9em;

		&__mark {
			width: 300px;
			height: auto;
			transform: rotate(15deg);
		}
		&__logotype {
			width: 350px;
			height: auto;
			position: absolute;
			top: 32%;
			left: 40%;
		}
	}

	.main-navigation {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 0;
		z-index: 8000;

		&.fixed {
			background: #000;
			position: fixed;
			top: 0;
			left: 0;
			bottom: auto;
			width: 100%;
			max-width: 100%;
			border-top: 6px solid $main-color;
			box-shadow: 0 0 15px rgba(0,0,0,0.5);

			.menu {
				background-image: url("../images/logotype.svg");
				background-repeat: no-repeat;
				background-size: auto 70%;
				background-position: left 1em center;
				transition: background-image 0.1s ease-in-out;
			}
		}
	}

	.menu {
		font-size: 1.1em;
		margin: 0 auto;
		padding: 0;
		width: 100%;
		max-width: $max-width;
		text-align: right;
		background: none;

		&__item {
			list-style-type: none;
			display: inline-block;
		}

		&__link {
			color: #fff;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			padding: 1em 1.25em;
			display: block;

			&.active { color: $main-color; }

			&:hover {
				background: $main-color;
				color: #fff;
			}
		}
	}
}

.contact-information-bar {
	background: $main-color;
	color: #fff;
	text-align: center;
	line-height: 1em;
	font-size: 1.35em;
	font-weight: 300;
	position: relative;
	z-index: 7000;
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);

	a {
		color: #fff;

		&:hover { color: $accent-color; }
	}

	span {
		display: inline-block;
		margin: 0.5em 2em 0.6em 2em;

		&:before {
			content: '';
			display: inline-block;
			width: 20px;
			height: 20px;
			position: relative;
			top: 3px;
			margin-right: 8px;
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
	}

	.phone:before {
		margin-right: 5px;
		width: 15px;
		background-image: url('../images/phone.svg');
	}
	.email:before {
		height: 14px;
		top: 2px;
		background-image: url('../images/mail.svg');
	}
}


// Content Area
.main-content {
	padding: 2em 0;
	background: #fff url("../images/paper_fibers_@2X.png");
	background-size: 410px 410px;

	h1, h2 { color: $font-color; }

	.subheader {
		display: block;
		font-size: 1.25em;
	}

	.subsection {
		margin-top: 3em;
	}
}

// Slider
.slider {
	width: 100%;
	height: 35em;
	margin: 3em 0;
	background: #ccc;

	+ hr { display: none; }
}

.picture-nav { width: 100%; }

.picture-box {
	width: 30%;
	margin-right: 5%;
	margin-top: 2em;
	display: inline-block;
	vertical-align: top;
	position: relative;

	&:nth-child(3n) { margin-right: 0; }

	img {
		width: 100%;
		height: 250px;
		background: #ccc;
	}

	h2 {
		font-size: 1.25em;
		margin: 0.5em 0 0.25em 0;
	}

	h3 {
		font-size: 1em;
		font-weight: normal;
		margin: 0;
	}

	a {
		font-size: 0;
		line-height: 0;

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	&:hover {
		img {
			outline: 5px solid $main-color;
		}
	}
}

.contact-venues, .location {
	list-style-type: none;
	padding: 0;
	margin: 0 3em 1em 0;
	display: inline-block;

	font-size: 1.25em;
	line-height: 1.75em;
}

.contact-venues {
	li:before {
		content: '';
		display: inline-block;
		margin-right: 0.5em;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		width: 20px;
		height: 20px;
	}

	.phone:before { background-image: url('../images/phone-black.svg'); }
	.email:before { background-image: url('../images/mail-black.svg'); }
	.fax:before { background-image: url('../images/fax-black.svg'); }
}

.team__member {
	display: inline-block;
	vertical-align: top;
	width: (90%/4);
	margin-right: (10%/3);
	margin-top: 1em;

	&:last-child { margin-right: 0; }

	img {
		display: block;
		// border-radius: 50%;
		width: 100%;
		height: auto;
		margin-bottom: 1em;
	}

	h3 {
		font-size: 1.1em;
		margin: 0;
	}

	h4 {
		font-size: 1em;
		margin: 0;
		font-weight: normal;
		font-style: oblique;
	}

	p {
		line-height: 1.5em;
	}
}

.clients {
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0 0 1em 0;

		columns: 4 250px;

		li {
			margin-top: 0.5em;
			line-height: 1.25em;
		}
	}
}


// Footer
.main-footer {
	color: #fff;
	text-align: center;

	a { color: #fff; }

	.copyright {
		color: #666;
		margin: 2em 0;
	}
}


// Screen Breaks
@media screen and (max-width : 1024px) {
	.picture-box {
		width: 47%;

		&:nth-child(3n) { margin-right: 5%; }
		&:nth-child(2n) { margin-right: 0; }
	}

	.team__member {
		width: (90%/2);
		margin-right: 10%;

		&:last-child { margin-right: auto; }
		&:nth-child(2n) { margin-right: 0; }
	}
}

@media screen and (max-width : 768px) {
	.picture-box {
		width: 100%;
		margin-right: 0;

		&:nth-child(3n) { margin-right: 0; }
	}
}

@media screen and (max-width : 650px) {
	.liner { padding: 0 2em; }

	.main-header {
		height: 13em;

		.logo {
			display: block;
			margin: 1.5em 0 1em 1.5em;
			top: 0.5em;
			left: 0.5em;
			max-width: 350px;
			width: 88%;

			&__mark { display: none; }

			&__logotype {
				width: 100%;
				height: auto;
				top: auto;
				left: auto;
				position: static;
			}
		}

		.main-navigation {
			position: relative;
			bottom: auto;
			left: auto;
			right: auto;

			&.fixed .menu {
				background-image: url("../images/logo.svg");
				background-size: 30% auto;
				background-position: left -1em center;
			}
		}
	}

	.contact-information-bar {
		font-size: 1.25em;

		.email { display: none; }
	}

	.main-content {
		h1 { line-height: 1.3em; }
	}

	.team__member {
		width: 100%;
		margin-right: 0;
	}
}

@media screen and (max-width : 450px) {
	.liner { padding: 0 1em; }

	.main-header {
		.logo {
			left: auto;
			margin: 1.5em auto;
		}

		.main-navigation.fixed .menu {
			background-image: none;
		}

		.menu {
			text-align: center;

			&__item { width: 33.33%; }
			&__link { padding: 1em 0; }
		}
	}

	.slider {
		display: none;

		+ hr { display: block; }
	}

	.main-content {
		padding: 0.1em 0 1em 0;

		.loud {
			font-size: 1.25em;
			line-height: 1.75em;
		}
	}

}


// Clearfix
.group:after {
	content: "";
	display: table;
	clear: both;
}