$main-color: #c00;
$accent-color: #fc0;

body {
	font: 16px/1.5em "PT Sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	background: #000;
	color: #333;
}

a {
	color: $main-color;

	&:hover { color: #300;}
}

p {
	&.loud {
		font-size: 1.5em;
		line-height: 1.5em;
		margin: 0.5em 0;
	}
}

hr {
	border-color: #fcc;
	margin: 3em 0;
}

.container--long {
	max-width: 2000px;
	margin: 0 auto;
}

.main-header {
	width: 100%;

	a { text-decoration: none; }

	.logo {
		position: relative;
		display: inline-block;
		margin: 2em 0;

		&__mark {
			width: 200px;
			height: auto;
		}
		&__logotype {
			width: 350px;
			height: auto;
			position: absolute;
			top: 50%;
			left: 50%;
		}
	}

	.menu {
		position: fixed;
		top: 0;
		right: 0;
		padding: 0.6em 0.6em 0 0;
		font-size: 1.1em;
		z-index: 8000;
		width: 100%;
		text-align: right;
		background: none;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;

		&__item {
			list-style-type: none;
			display: inline-block;
		}

		&__link {
			color: $main-color;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			padding: 0.75em 1.25em;
			display: block;
			border-radius: 5px;

			&.active {
				color: #666;
			}

			&:hover {
				background: $main-color;
				color: #fff;
			}
		}

		&.fixed {
			background: #000;
		}
	}

	.contact-information {
		background: $main-color;
		color: #fff;
		text-align: center;
		line-height: 1em;
		font-size: 1.5em;
		font-weight: 300;
		padding-bottom: 0.5em;

		a {
			color: #fff;

			&:hover { color: $accent-color; }
		}

		span {
			display: inline-block;
			margin: 0.5em 2em 0;
		}
	}
}

.main-content {
	padding: 2em 0;
	background: antiquewhite;

	h1, h2 { color: $main-color; }
}

.box {
	height: 100px;
	margin-bottom: 4%;
	position: relative;

	background: #000;

	span {
		background: $main-color;
		color: #fff;
		text-decoration: none;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 0.25em 1em;
		display: block;
		-webkit-transition: 0.3s all ease;
		visibility: hidden;
		opacity: 0;
	}

	&:hover {
		span {
			visibility: visible;
			opacity: 1;
		}
	}
}

.testimonial{
	&__quote { margin: 0; }
	&__author{
		text-align: right;

		.title {
			display: block;
			font-style: oblique;
			line-height: 1.35em;
		}
	}

	&__image {
		float: left;
		margin-right: 1em;
	}
}

.main-footer {
	color: #fff;
	text-align: center;

	a { color: #fff; }

	.copyright {
		color: #666;
		margin: 2em 0;
	}
}


// Clearfix
.group:after {
	content: "";
	display: table;
	clear: both;
}